BOT_TOKEN=telegram_bot_tokeningiz
ADMIN_CHAT_ID=123456789
ADMIN_USERNAME=toshmirzayevinomjon
CARD_NUMBER=0000 0000 0000 0000
CARD_HOLDER=Karta egasi
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=llama-3.1-8b-instant
DB_PATH=orders.db
